name: smalltalkCI

on: 
  push:
  pull_request:
    branches:
      - gs_master
  schedule:
    - cron: "15 2 16 * *" #run job on the 16th day of every month on the 15th minute of the 2nd hour

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-20.04 ]
        smalltalk: [ GemStone64-3.7.0, GemStone64-3.5.8,  GemStone64-3.6.8 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: hpi-swa/setup-smalltalkCI@v1
        with:
          smalltalk-image: ${{ matrix.smalltalk }}
      - name: Run tests
        run: smalltalkci -s ${{ matrix.smalltalk }}
        shell: bash
        timeout-minutes: 25
  slack-workflow-status:
    if: always()
    name: Post Workflow Status To Slack
    needs:
      - build
    runs-on: ubuntu-20.04
    steps:
       - name: Slack Workflow Notification
         uses: Gamesight/slack-workflow-status@master
         with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          slack_webhook_url: ${{secrets.SLACK_DALEHENRICH}}
          name: 'action run' 
